<!doctype html>
<html>
<head>
<title>Api Store</title>
</head>
<body>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/mithril/0.2.0/mithril.min.js"></script>
<script src="//cdn.rawgit.com/ng-vu/mithril-bootstrap/master/dist/mithril-bootstrap.js"></script>
<script>
// global variables
var _csrf = "";
var _item_id = "";
var _quote_id = "";
var _quote_csrfx = "3aKh3o00-sxKA1AbPnBzTb2farkWW6pCKRdw";
var _order_id = "";
var _order_csrfx = "7oSbG5Jz-FCGbP0rCqEtrm900uAFwNwBkxgc";

/**
 * Global cleanup. Run after a user finishes a session so that their information is not leaked to the next user.
 * 
**/
function cleanup() {
  _csrf = "";
  _item_id = "";
  _quote_id = "";
  _quote_csrfx = "";
  _order_id = "";
  _order_csrfx = "";
}

// Grab _csrf token from response header
var parse_response = function(res, options) {
  headers = res.getAllResponseHeaders();
  hs = headers.split("\n");
  for (h in hs) {
    if (hs[h].indexOf('_csrf') >= 0) {
      pair = hs[h].split(": ")
      _csrf = pair[1].replace("\r", '');;
    }
  }
  return res.responseText
}

// Models
// TODO populate using sails models :)
var Category = function(data) {
  this.id = m.prop(data['id']);
  this.name = m.prop(data['name']);
  this.parent = m.prop(data['parent']) || "";
  this.description = m.prop(data['description']);
  this.createdAt = m.prop(data['createdAt']);
  this.updatedAt = m.prop(data['updatedAt']);
};

var Item = function(data) {
  this.id = m.prop(data['id']);
  this.name = m.prop(data['name']);
  this.category = m.prop(data['category']);
  this.description = m.prop(data['description']);
  this.createdAt = m.prop(data['createdAt']);
  this.updatedAt = m.prop(data['updatedAt']);
  this.outlet = m.prop(data['outlet']);
  this.brand = m.prop(data['brand']) || "";
  this.external_id = m.prop(data['external_id']) || "";
  this.currency = m.prop(data['currency']) || "";
  this.price = m.prop(data['price']) || "";
  this.icon_url = m.prop(data['icon_url']) || "";
  this.image_url = m.prop(data['image_url']) || "";
  this.required_fields = m.prop(data['required_fields']) || [];
  this.paymethods = m.prop(data['paymethods']);
};

var Quote = function(data) {
  this.id = m.prop(data['id']);
  this.createdAt = m.prop(data['createdAt']);
  this.updatedAt = m.prop(data['updatedAt']);
  this.item = m.prop(data['item']);
  this.csrfx = m.prop(data['csrfx']);
  this.email = m.prop(data['email']) || "";
  this.phone = m.prop(data['phone']) || "";
  this.options = m.prop(data['options']) || [];
};

var Order = function(data) {
  this.id = m.prop(data['id']);
  this.item = m.prop(data['item']);
  this.quote = m.prop(data['quote']);
  this.option = m.prop(data['option']);
  this.createdAt = m.prop(data['createdAt']);
  this.updatedAt = m.prop(data['updatedAt']);
  this.csrfx = m.prop(data['csrfx']);
  this.address = m.prop(data['address']) || "";
  this.satoshis = m.prop(data['satoshis']) || 0;
  this.expires = m.prop(data['expires']) || "";
  this.external_id = m.prop(data['external_id']) || "";
  this.status = m.prop(data['status']) || "";
  this.paymethods = m.prop(data['paymethod']) || "";
};


/**
 * home module
 *
**/
var category_module = {};
category_module.vm = (function() {
  var vm = {}
  vm.init = function() {
    vm.list = new Array;
  }
  return vm
}())
category_module['controller'] = function(){
  category_module.vm.init();
  m.request({method: "GET", url: "/category", type: Category}).then(function(cat) {
    category_module.vm.list = cat
  });
};
category_module['view'] = function() {
  return m("html", [
           m("body", [
             m("h1", "Category"),
             m("ul", [
               category_module.vm.list.map(function(category) {
                 return m("a[href='/item/?where={category:" + category.id() + "}']", {config: m.route}, m("li", category.name()));
               })
             ])
           ])
         ]);
};

/**
 * item module
 *
**/
var item_module = {};
item_module.vm = (function() {
  var vm = {}
  vm.init = function() {
    vm.list = new Array;
    vm.email = m.prop("");
    vm.phone = m.prop("");
    vm.create_quote = function() {
      // TODO improve validation
      var params = {
          _csrf: _csrf,
          email: item_module.vm.email(),
          phone: item_module.vm.phone(),
          item: _item_id
        }
      console.log(params);
      if (_csrf.length > 12 &&
          item_module.vm.email().indexOf("@") > 0 &&
          item_module.vm.phone().length > 8 &&
          _item_id != ""
          ) {
        m.request({method: "POST", url: "/quote", data: params}, extract=parse_response).then(function(quote) {
          console.log(quote);
          _quote_id = quote.id;
          _quote_csrfx = quote.csrfx;
          m.route("/quote/" + quote.id)
        });
      } else {
        alert("Invalid parameters. You provided: " + JSON.stringify(params))
      }
    };
  }
  return vm
}())
item_module['controller'] = function(){
  item_module.vm.init();

  url = "/item";
  if (m.route.param("id")) {
    url += "/" + m.route.param("id");
    _item_id = m.route.param("id");
  }
  m.request({method: "GET", url: url, extract: parse_response, type: Item}).then(function(item) {
    if (item instanceof Item) {
      item_module.vm.list = [item];
    } else if (item.hasOwnProperty('length')) {
      item_module.vm.list = item;
    } else {
      item_module.vm.list = [];
    }
  });
};
item_module['view'] = function() {
  if (item_module.vm.list.length > 1) {
    item_content =  m("ul", [
      item_module.vm.list.map(function(item) {
        return m("a[href='/item/" + item.id() + "']", {config: m.route}, [
          m("li", [
            m("img", {src: item.icon_url(), height:"25", width:"25"}),
              m("span", item.name())
            ])
          ]);
      })
  ])
  } else if (item_module.vm.list.length == 1) {
    function req_fields() {
      var rfs = [];
      if (item_module.vm.list[0]["required_fields"]().indexOf("email") >= 0) {
        rfs.push(m("label", "Email Address"),
          m("input", {onchange: m.withAttr("value", item_module.vm.email), value: item_module.vm.email()}))
        rfs.push(m("br"));
      }
      if (item_module.vm.list[0]["required_fields"]().indexOf("email") >= 0) {
        rfs.push(m("label", "Phone Number"),
          m("input", {onchange: m.withAttr("value", item_module.vm.phone), value: item_module.vm.phone()}))
        rfs.push(m("br"));
      }
      return m("div", rfs);
    }

    function paymethods() {
      var pms = [];
      for (var paym = 0; paym < item_module.vm.list[0]["paymethods"]().length; paym++) {
        pms.push(m("option", {value:item_module.vm.list[0]["paymethods"]()[paym]['id']},
          item_module.vm.list[0]["paymethods"]()[paym]['display'])
        );
      }
      pms.push(m("br"));
      pms.push(m("br"));
      return m("select", pms);
    }
    item_content = m("div", [m("div", [
      m("h2", item_module.vm.list[0].name()),
      m("img", {src: item_module.vm.list[0].image_url()}),
      m("p", item_module.vm.list[0].description()),
    ]),m("div", [
      m("h3", ["Required Fields"]), req_fields(),
    ]),m("div", [
      m("h3", "Payment Method"), paymethods(),
    ]), m("button", {onclick: item_module.vm.create_quote}, "Get Quote")
    ])


  } else {
    item_content = m("span", "No item found.")
  }
  return m("html", [
    m("body", [
      m("h1", "Item"),
      item_content
    ])
  ]);
};

/**
 * quote module
 *
**/
var quote_module = {};
quote_module.vm = (function() {
  var vm = {}
  vm.init = function() {
    vm.quote = new Quote({"id":_quote_id, "csrfx": _quote_csrfx});
    vm.option = m.prop("");
    vm.create_order = function() {
      // TODO improve validation
      var params = {
          _csrf: _csrf,
          option: "" + quote_module.vm.option(),
          quote: _quote_id,
          item: _item_id
        }
      if (_csrf.length > 12 &&
          _quote_id != "" &&
          _item_id != ""
          ) {
        m.request({method: "POST", url: "/order", data: params}, extract=parse_response).then(function(order) {
          console.log(order);
          _order_id = order.id;
          _order_csrfx = order.csrfx;
          m.route("/order/" + order.id);
        });
      } else {
        alert("Invalid parameters. You provided: " + JSON.stringify(params))
      }
    };
  }
  return vm
}())
quote_module['controller'] = function(){
  quote_module.vm.init();

  url = "/quote/" + m.route.param("id") + "/" + _quote_csrfx
  console.log(url)
  m.request({method: "GET", url: url, extract: parse_response, type: Quote}).then(function(quote) {
    console.log(quote);
    quote_module.vm.quote = quote;
  });
};
quote_module['view'] = function() {
  function options() {
    var pms = [];
    for (p in quote_module.vm.quote["options"]()) {
      pms.push(m("option", {value:p},
        quote_module.vm.quote["options"]()[p]['description'])
      );
    }
    pms.push(m("br"));
    pms.push(m("br"));
    return m("select", pms);
  }

  return m("html", [
    m("body", [
      m("h1", "Item"),
      m("div", [m("div", [
        m("h2", quote_module.vm.quote.item().name),
        m("img", {src: quote_module.vm.quote.item().image_url}),
        m("p", quote_module.vm.quote.item().description)
      ]),m("div", [
        m("h3", ["Options"]), options()
      ]), m("button", {onclick: quote_module.vm.create_order}, "Submit Order")
      ])
    ])
  ]);
};

/**
 * order module
 *
**/
var order_module = {};
order_module.vm = (function() {
  var vm = {}
  vm.init = function() {
    console.log("order vm");
    vm.order = new Order({"id":_order_id, "csrfx": _order_csrfx});
    console.log(vm.order);
    order_module.vm.received = m.prop(0);
    vm.create_order = function() {
      // TODO improve validation
      var params = {
          _csrf: _csrf,
          option: "" + order_module.vm.option(),
          order: _order_id,
          item: _item_id
        }
      if (_csrf.length > 12 &&
          _order_id != "" &&
          _item_id != ""
          ) {
        m.request({method: "POST", url: "/order", data: params}, extract=parse_response).then(function(order) {
          console.log(order);
          _order_id = order.id;
          _order_csrfx = order.csrfx;
          m.route("/order/" + order.id);
        });
      } else {
        alert("Invalid parameters. You provided: " + JSON.stringify(params))
      }
    };
  }
  return vm
}())
order_module['controller'] = function(){
  order_module.vm.init();

  url = "/order/" + m.route.param("id") + "/" + _order_csrfx
  m.request({method: "GET", url: url, extract: parse_response, type: Order}).then(function(order) {
    console.log(order);
    order_module.vm.order = order;
  });
  binfo = "https://blockchain.info/q/getreceivedbyaddress/" + order_module.vm.order.address()
  m.request({method: "GET", url: url}).then(function(satoshis) {
    console.log(satoshis)
    order_module.vm.received(satoshis);
    if (order_module.vm.received() > order_module.vm.order.satoshis() && order_module.vm.order.status() == "pending") {
      order_module.vm.order.status("confirming");
    }
  });
};

order_module['view'] = function() {
  return m("html", [
    m("body", [
      m("h1", "Item"),
      m("div", [
        m("h2", order_module.vm.order.item().name),
        m("p", "Please pay " + order_module.vm.order.satoshis() + " satoshis or " + (order_module.vm.order.satoshis() / 1e8) + " BTC to the following address:"),
        m("p", {class:'bitcoin-address'}, order_module.vm.order.address()),
        m("p", {class:'bitcoin-uri'}, [
            m("a[href='bitcoin:" + order_module.vm.order.address() + "?amount=" + (order_module.vm.order.satoshis() / 1e8) + "']", "link")
        ]),
        m("div", [
          m("p", order_module.vm.order.status()),
          m("p", order_module.vm.received() + " satoshies (" + (order_module.vm.received() / 1e8) + " BTC) received so far. ")
        ])
      ])
    ])
  ]);
};

m.route(document.body, "/", {
    "/": category_module,
    "/category": category_module,
    "/item": item_module,
    "/item/:id": item_module,
    "/quote/:id": quote_module,
    "/order/:id": order_module,
});

</script>
</body>
</html>